<p>Dear <%=@user.full_name.capitalize rescue nil%>,</p>
<p>Greetings of the day!</p>

<% if @resume_status == "rejected"  %>
	<p>We are here to inform you that your resume has been rejected because of the following reason(s):</p>
	<p><b><%= @resume_rejected_reason %></b></p>

<% elsif @resume_status == "accepted" %>
	<p>We are here to inform you that your resume has been accepted.</p>
<% end %>

