<div style="background:#fff;border:1px solid #e2e2e2;margin:20px auto;max-width:536px;min-width:300px;padding:40px;text-align:left" align="left">
<%if @user.firstname.present? || @user.lastname.present?%>
	<p>Dear <%=@user.firstname.capitalize rescue nil%> <%=@user.lastname.capitalize rescue nil%>,</p>
<%else%>
	<p>Dear <%=@user.email%>,<p>
<%end%>
<p>Greetings for the day!</p>
<% if @account_suspended %>

	<p> We are here to inform you that, we have temporarily placed your account on hold/suspended and from now you wouldn't be able to access your TheOfficeCapital™ account.</p>
	<p><b>Reason:</b> <%= @account_suspended_reason %></p>

<% else %>
 	<p> We are here to inform you that you are now part of TheOfficeCapital™ services and your suspension is removed</p>

<% end %>
</div>