<%= form_for @bank_account ,url:unverified_bank_acc_update_path, method: :post do  |form|%>
	<div class="form-group row">
		<label for="address_proof_front" class="col-sm-2 col-form-label">Bank Account Employee Status </label>
		<div class="col-sm-6">
			<%=form.select :emp_status,["pending","in-review","completed"],class: "form-control" %>
		</div>
	</div>
	<div class="col-sm-2">
	</div>
	<div class="col-sm-6">
		<%= form.submit "Submit",class: "btn btn-primary btn-md"%>
	</div>
<%end%>
